body{
	color: green;
	background: url("download.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center

	
}

p,
h3,
li{
	color:aqua;
	font-size: 60px;

}

body{
	border: 2px solid red;
	margin: 50px;

}

body div{
	border: 2px solid red;
	margin: 50px;

}

.mybox {
	width: 300px;
	height: 300px;
	background: red;
	transform: translate(500px, 10px) rotate(30deg);
}

.newbox {
	width: 300px;
	height: 300px;
	background: black;
	transition: width 3s, background-color 5s, border-radius 5s;
}

.newbox:hover {
	width: 600px;
	border-radius: 50%;
	background-color: red;
}

.anibox{
	width: 300px;
	height: 300px;
	background: blue;
	animation-name: example;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}

@keyframes example{
	from{
		background-color: blue;
	}
	to {
		background-color: yellow;
	}

}

@keyframes example2{
	0%{
		width: 300px;
	}
	25%{
		width: 600px;
	}
	50%{
		width: 900px;
	}
	75%{
		width: 1200px;
	}
	100%{
		width: 300px;
	}


	
}

table td:nth-child(odd),table th:nth-child(odd){
	background: blue;
}

table tr:nth-child(even), table th:nth-child(even){
	background: red;
}

ul.nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: blue;
}

ul.nav li{
	float: left;
	border-right: 2px solid white;
}

ul.nav li a{
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
}

ul.nav li:last-child{
	border-right: none;
}

ul.nav li a:hover, ul.nav li a.active{
	background-color: green;
}

